<div class="albums">
  <div class="your_albums">
    <p>Ваши альбомы: </p>
    <% current_crafter.albums.each { |album| %>
      <div class="you_album">
        <%= image_tag album.logo.url, :size => '100x100'  %>
      </div>
    <%}%>
  </div>

  <p>
    У Вас пока нет альбомов.
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Создать альбом ?</button>
  </p>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <%= form_for(current_crafter, url: update_images_crafter_path(current_crafter), method: 'post', remote: true, multipart: true, class: 'modal_form_albums')  do |f|%>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <%= f.label :Имя_альбома, class: 'label_login' %>
            <%= text_field_tag :album_name, '',class: 'form-control' %>
            <%= f.label :Описание_альбома, class: 'label_login' %>
            <%= text_field_tag :album_desc, '',class: 'form-control' %>

          </div>
          <div class="modal-body">
            <%= f.label :Загруженные_изображения, class: 'label_login' %><br />
            <div id="div_album_images">
            </div>
              <span class="btn btn-large btn-default btn-file">
                    Загрузить изображение
                <%= f.file_field :images, multiple: true %>
              </span>

          </div>
          <div class="modal-footer">
            <%= f.submit 'Сохранить', class: 'btn btn-success', id: 'button_for_safe_img' %>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
      <% end %>
    </div>
  </div>
</div>
