<table style="width:600px">
  <thead>
  <tr>
    <th style="text-align:right;">Catigory</th>
    <th style="text-align:right;">Subcatigory</th>
    <th style="text-align:right;">City</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td style="text-align:right;">
      <ul>
        <% @search_categories.each do |categories_id,categories_value| %>
            <li>
              <%= label_tag categories_value, nil,id: categories_id, class: 'categories' %>
            </li>
        <% end %>
      </ul>
      <ul>
        <% @search_subcategories.each do |subcategories_id,subcategory| %>
            <li>
              <%= label_tag subcategory['name'] %>
              <%= check_box_tag subcategories_id, subcategory['name'], true, class: 'subcategories', catygory: subcategory['category_id']%>
            </li>
        <% end %>
      </ul>
    </td>
    <td style="text-align:right;">
    </td>
    <td style="text-align:right;">
      <ul>
        <% @cities.each_with_index do |city,index| %>
            <li>
              <%= label_tag city %>
              <%= check_box_tag city, index, true, class:'cities', id: index %>
            </li>
        <% end %>
      </ul>
    </td>
  </tr>
  </tbody>
</table>
