<h1>page for edit <%= @crafter.email %> crafter </h1>
<h1>subcategory crafter: <%= @crafter.subcategory.name %> </h1>
<h1>category crafter: <%= @crafter.subcategory.category.name %> </h1>

<%= form_for(@crafter, url: '/update_avatar_crafter', method: "post", remote: true, multipart: true)  do |f|%>
    <div class="field">
      <%= f.label :avatar %><br />
      <%= f.file_field :avatar%>
    </div>
    <div class="actions">
      <%= f.submit "Update Avatar" %>
    </div>
<% end %>

<%= form_for @crafter do |f| %>
    <div>
      <%= f.label :company_name %>
      <%= f.text_field :company_name %>
    </div>
    <div>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>
    <div>
      <%= f.label :city %>
      <%= f.text_field :city %>
    </div>
    <div>
      <%= f.label :address %>
      <%= f.text_field :address %>
    </div>
    <div>
      <%= f.label :phone_number %>
      <%= f.text_field :phone_number %>
    </div>
    <div>
      <%= f.label :contact_person %>
      <%= f.text_field :contact_person %>
    </div>
    <div>
      <%= f.label :site %>
      <%= f.text_field :site %>
    </div>
    <div>
      <%= f.label :work_time %>
      <%= f.text_field :work_time %>
    </div>
    <%= f.submit %>
<% end %>

