<div class="login_title left">
  <h3>Редактирование профиля</h3>
</div>

<div class='reg_form'>
  <div class="avatar">
    <%=link_to image_tag(current_crafter.avatar.url), current_crafter %>
    <p>Название компании: <b><%= current_crafter.company_name %></b></p>
    <p>Сфера деятельности: <b><%= current_crafter.subcategory.category.name %>/<%= current_crafter.subcategory.name %></b></p>
    <p>Время работы: <b><%= current_crafter.work_time %></b></p>
    <p>Адресс: <b><%= current_crafter.city %> <%= current_crafter.address %></b></p>
    <p>Номер телефона: <b><%= current_crafter.phone_number %></b></p>
  </div>

  <div class="info_for_reg description">
    <div class="menu1">
      <br id="category"/><br id="logo_and_images"/><br id="password"/>
      <a href="#info">Данные о компании</a>
      <a href="#category">Виды деятельности</a>
      <a href="#logo_and_images">Логотип и фотоальбомы</a>
      <a href="#password">Пароль</a>
      <!--information-->
        <%= render 'crafters/registrations/partials/info' %>
      <!--category and subcategory-->
        <%= render 'crafters/registrations/partials/category' %>
      <!--logo and images-->
        <%= render 'crafters/registrations/partials/logo_and_images' %>
      <!--password-->
        <%= render 'crafters/registrations/partials/password' %>
    </div>
  </div>
</div>