<div class="login_title">
  <h3>Редактирование профиля</h3>
</div>
<div class='reg_form'>

  <h1>page for edit <%= current_crafter.email %> crafter </h1>
  <h1>subcategory crafter: <%= current_crafter.subcategory.name %> </h1>
  <h1>category crafter: <%= current_crafter.subcategory.category.name %> </h1>



  <%= form_for(current_crafter, url: update_avatar_crafter_path(current_crafter), method: 'post', remote: true)  do |f|%>
      <div class="avatar">
        <%= image_tag current_crafter.avatar.url, style: 'width: 100px; height: 100px;' %>
      </div>
      <div class="avatar_edit">
        <span class="btn btn-large btn-default btn-file">
          Загрузить изображение
          <%= f.file_field :avatar %>
        </span>
      </div>
      <%= f.submit 'Обновить', class: 'btn btn-success register-btn' %>
  <% end %>




  <%= form_for(current_crafter, url: update_images_crafter_path(current_crafter), method: 'post', remote: true, multipart: true)  do |f|%>
      <div class="field">
        <%= f.label :Изображения, class: 'label_login' %><br />
        <% current_crafter.images.each { |image| %>
            <%= image_tag image.url  %>
        <% }   %>
        <span class="btn btn-large btn-default btn-file">
          Загрузить изображение
          <%= f.file_field :images, multiple: true %>
        </span>
      </div>
      <button type="submit" class="btn btn-success register-btn">Обновить</button>
  <% end %>

  <div class='login_form'>

    <%= form_for current_crafter do |f| %>
        <div>
          <%= f.label :Название_компании, class: 'label_login' %>
          <%= f.text_field :company_name, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :description, class: 'label_login' %>
          <%= f.text_area :description, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :city, class: 'label_login' %>
          <%= f.text_field :city, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :address, class: 'label_login' %>
          <%= f.text_field :address, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :phone_number, class: 'label_login' %>
          <%= f.text_field :phone_number, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :contact_person, class: 'label_login' %>
          <%= f.text_field :contact_person, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :site, class: 'label_login' %>
          <%= f.text_field :site, class: 'form-control' %>
        </div>
        <div>
          <%= f.label :work_time, class: 'label_login' %>
          <%= f.text_field :work_time, class: 'form-control' %>
        </div>
        <button type="submit" class="btn btn-success register-btn">Сохранить</button>

    <% end %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email, class: 'label_login' %><br />
          <%= f.email_field :email, class: 'form-control', autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <%= f.label :password, class: 'label_login' %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, class: 'form-control', autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class: 'label_login' %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off' %>
        </div>

        <div class="field">
          <%= f.label :current_password, class: 'label_login' %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, class: 'form-control', autocomplete: 'off' %>
        </div>

        <button type="submit" class="btn btn-success register-btn">Сохранить</button>

    <% end %>

    <h4>Удалить профиль ?</h4>
    <%= button_to 'Удалить профиль', registration_path(resource_name), data: { confirm: 'Are you sure?'}, method: :delete, class: 'btn btn-danger register-btn' %>

  </div>
</div>