<div id="banner">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 banner">
        <h3>Для рекламы</h3>
      </div>
    </div>
  </div>
</div>

<div id="top" class="navbar navbar-inverse navbar-static-top">

  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 logo">
        <a href="/"><h1>CraftsMan</h1></a>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 menu_left">
        <div id="imaginary_container">
          <div class="input-group stylish-input-group">
            <%= form_tag('/search', :method => :get, :class => 'search') do %>
                <%= text_field_tag 'search', nil, :placeholder => 'Поиск в каталоге. Например, "ИП Анатолий"', :class => 'search_input' %>
                <%= submit_tag 'OK', :class => 'search_button' %>
            <% end %>
          </div>
        </div>
        <div id="search_result" style="display: none">
          <div class="search_result">
            <span>X</span>
            <ul id="result_search_ul">
              <%= render 'layouts/search' %>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 menu_right">
        <% if crafter_signed_in? %>
            <%= render 'layouts/crafters_registered' %>
        <% elsif user_signed_in? %>
            <%= render 'layouts/users_registered' %>
        <% else %>
            <%= render 'layouts/unregistered' %>
        <% end %>
      </div>
    </div>

    <div class="navigation">
      <div class="dropdown">
        <div class="dropdown-submenu">
          <button class="btn btn-default dropdown-toggle bullet button-no-border" type="button" data-toggle="dropdown">Все крафтеры <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
                <li class="dropdown-submenu">
                  <a href="#<%= category.name %>"><%= category.name %></a>
                  <div class="subcategory dropdown-menu">
                    <ul style="list-style: none outside none; width: 350px;">
                      <% @subcategories.where(category_id: category.id).each do |subcategory| %>
                          <% if subcategory.title_sub_category != ('') and subcategory.title_sub_category != (nil) %>
                              <li style="float: left; display: block; width: 220px;"><p style="font-weight: bold; color: #000000; font-size: 17px; margin-bottom: 5px;margin-top: 5px;"><%= subcategory.title_sub_category %></p></li>
                          <% end %>
                          <li style="display: block; width: 220px;"><a href="#<%= subcategory.name %>"><%= subcategory.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>


  </div>


</div>
