<div id="top" class="navbar navbar-inverse navbar-static-top">

  <div class="center">
    <div><h1><a href="/" class="logo">CraftsMan</a></h1></div>
    <div class="menu_left">
      <div class="col-sm-6 col-sm-offset-1">
        <div id="imaginary_container">
          <div class="input-group stylish-input-group">
            <%= form_tag('/search') do %>
                <%= text_field_tag(:search) %>
                <%= submit_tag('OK') %>
            <% end %>

            <!--<input type="text" class="form-control" placeholder="Search">-->
                    <!--<span class="input-group-addon">-->
                        <!--<button type="submit">OK</button>-->
                    <!--</span>-->
          </div>
        </div>
      </div>
    </div>
    <div class="menu_right">
      <% if crafter_signed_in? %>
          <%= render 'layouts/crafters_registered' %>
      <% elsif user_signed_in? %>
          <%= render 'layouts/users_registered' %>
      <% else %>
          <%= render 'layouts/unregistered' %>
      <% end %>
    </div>
  </div>

  <div class="navigation" style="width: 100%;float: left;">
    <div class="center">
      <div class="dropdown">
        <div class="dropdown-submenu">
          <button class="btn btn-default dropdown-toggle bullet button-no-border" type="button" data-toggle="dropdown">Все крафтеры <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <% @categories.each do |category| %>
                <li class="dropdown-submenu">
                  <a href="#<%= category.name %>"><%= category.name %></a>
                  <div class="subcategory dropdown-menu">
                    <ul style="list-style: none outside none; width: 350px;">
                      <% @subcategories.where(category_id: category.id).each do |subcategory| %>
                          <% if subcategory.title_sub_category != ('') and subcategory.title_sub_category != (nil) %>
                              <li style="float: left; display: block; width: 220px;"><p style="font-weight: bold; color: #000000; font-size: 17px; margin-bottom: 5px;margin-top: 5px;"><%= subcategory.title_sub_category %></p></li>
                          <% end %>
                          <li style="display: block; width: 220px;"><a href="#<%= subcategory.name %>"><%= subcategory.name %></a></li>
                      <% end %>
                    </ul>
                  </div>
                </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
