<div id="top" class="navbar navbar-inverse navbar-static-top">
  <div class="center">
    <div><h1><a href="/" class="logo">CraftsMan</a></h1></div>
    <div class="menu_left">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Категории</button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <% @categories.each do |category| %>
              <li><a href="#<%= category.name %>"><%= category.name %></a></li>
              <!-- поиск подкатегорий для категорий -->
              <ul class="dropdown-menu">
                ...
              </ul>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="menu_right">
      <% if crafter_signed_in? %>
          <%= render 'layouts/crafters_registered' %>
      <% elsif user_signed_in? %>
          <%= render 'layouts/users_registered' %>
      <% else %>
          <%= render 'layouts/unregistered' %>
      <% end %>
    </div>
  </div>
</div>