<% if user_signed_in? %>
    <li><%= link_to 'Edit account user', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out user', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
    <li><%= link_to 'Sign in user', new_user_session_path %></li>
    <li><%= link_to 'Sign up user', new_user_registration_path %></li>
<% end %>
<% if user_signed_in? %>
    <li><%= link_to 'Users', users_path %></li>
<% end %>